<div class="footer-basic" style="margin-top: -20px;">
    <footer>
        <ul class="list-inline" style="margin-top: -10px;">
            <li class="list-inline-item"><a href="#">Terms and Conditions</a></li>
            <li class="list-inline-item"><a href="#">Cookie Policy</a></li>
            <li class="list-inline-item"><a href="#">Privacy Staement</a></li>
            <li class="list-inline-item"><a href="#">Data Protection</a></li>
            <li class="list-inline-item"><a href="#">Accessibilty</a></li>
        </ul>
        <p class="copyright"> © Vels Infoway All Rights Reserved                                                                               Designed by Vels Infoway</p>
    </footer>
</div>
