<div class="container-sm d-lg-flex justify-content-lg-end align-items-lg-center" style="margin-top: 21px;">
    <div class="row d-inline-flex justify-content-lg-end">
        <div class="col d-xl-flex justify-content-xl-end align-items-xl-center" style="width: 232px;">
            <div class="float-left float-md-right d-xl-flex mt-5 mt-md-0 search-area"><i class="fas fa-search float-left search-icon"></i><input class="float-left float-sm-right custom-search-input" type="search" placeholder="Search" style="width: 154px;min-width: 142px;font-size: 12px;" /></div>
        </div>
        <div class="col d-flex d-lg-flex justify-content-lg-center align-items-lg-center" style="padding-right: 0px;width: 12px;max-width: 20%;padding-left: 0px;"><i class="far fa-bell" style="font-size: 20px;"></i></div>
        <div class="col d-flex d-lg-flex justify-content-lg-end align-items-lg-center" style="width: 85px;padding-left: 0px;padding-right: 0px;max-width: 90px;">
            <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Profile</button>
                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
            </div>
        </div>
    </div>
</div>
