<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Dashboard</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="/static/assets/css/Growing-Search-Bar-Animated-Text-Input-1.css">
    <link rel="stylesheet" href="/static/assets/css/Growing-Search-Bar-Animated-Text-Input.css">
    <link rel="stylesheet" href="/static/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/static/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/static/assets/css/Search-Input-responsive.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">


</head>
<body class="">

	{% include "includes/nav.html" %}

    	{% block content %}{% endblock content %}

	{% include "includes/footer.html" %}

	{% include "includes/scripts.html" %}

	{% block javascripts %}{% endblock javascripts %}



</body>
</html>
